@model UserInfo
@{
ViewBag.Title = "Toplanti Basvuru";
}
<h1 class="h4 text-center">Toplanti katilim formu</h1>
<form method="post" action="/Meeting/Apply" novalidate>
    <div asp-validation-summary="All"></div>
    <div class="mb-3">
        <label asp-for="Name">Isim Soyisim</label>
        <input asp-for="Name" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Phone">Telefon</label>
        <input asp-for="Phone" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Email">Eposta</label>
        <input asp-for="Email" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="WillAttend">Katilim Durumu</label>
        <select asp-for="WillAttend" class="form-select">
            <option value="">Seciniz</option>
            <option value="true">Evet, Katilacagim</option>
            <option value="false">Hayir, Katilmayacagim</option>
        </select>
    </div>
    <button class="btn btn-primary" type="submit">Kaydet</button>
</form>