@{
    ViewBag.Title = "Toplanti Ozeti";
}
<h1 class="h4">Toplanti ozeti</h1>
<p>Toplantiya sizinle birlikte 20 kisi katiliyor</p>
<a class="btn btn-sm btn-outline-primary" href="#">Katilimcilari listele</a>